.dashboard-layout {
  min-height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  padding: 8px;
}

.user-info {
  width: 100%;
  background-color: #cfe2ff;
  align-content: center;
  min-height: 55vh;
  color: #084298;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
}

.user-label {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.user-name {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.start-button {
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  background: #0066ff;
  border-color: #0066ff;
  color: white;
  border-radius: 8px;
}

.logout-button {
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  background: #ff3333;
  border-color: #ff3333;
  color: white !important;
  border-radius: 8px;
}

.logout-button:hover,
.logout-button:focus {
  background: #cc2222 !important;
  border-color: #cc2222 !important;
}


/* Адаптив для разных размеров экранов */
@media (max-width: 360px) {
  .user-label {
    font-size: 16px;
  }
  
  .user-name {
    font-size: 18px;
  }
  
  .start-button,
  .logout-button {
    height: 60px;
    font-size: 18px;
  }
}