.auth-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 8px 8px 40px 8px;
}

body{
  margin: 0;
}

.auth-form {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content:space-around;
}

.form-item{
  --ant-form-item-margin-bottom: 0px !important;
}

.auth-info{
  background-color: #cfe2ff;
  align-content: center;
  height: 75%;
  color: #084298;
  border-radius: 8px;
}

.auth-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.auth-input {
  height: 80px;
  font-size: 24px;
}

.auth-checkbox {
  margin-bottom: 16px;
}

.auth-button {
  width: 100%;
  height: 44px;
  font-size: 16px;
  margin-top: 8px;
}

.theme-switcher{
  display: flex;
  justify-content: end;
}

/* Адаптив для разных размеров экранов */
@media (max-width: 360px) {
  .auth-form {
    padding: 8px;
  }
  
  .auth-title {
    font-size: 18px;
  }
}