/* Глобальный стиль для красной кнопки */
.red-button {
  width: 100% !important;
  height: 50px !important;
  font-size: 24px !important;
  font-weight: bold !important;
  background: var(--ant-red-6) !important;
  color: white !important;
  border-radius: 8px !important;
}

.red-button:hover,
.red-button:focus {
  background: var(--ant-red-7) !important;
}

/* Также можно добавить другие общие стили */
.menu-button {
  width: 100% !important;
  height: 50px !important;
  font-size: 24px !important;
  font-weight: bold !important;
  background: var(--ant-blue-6) !important;
  color: white !important;
  border-radius: 8px !important;
}

.menu-button:hover,
.menu-button:focus {
  background: var(--ant-blue-7) !important;
}

/* Общие стили для поискового поля */
.search-input span{
  font-size: 24px !important;
}

/* Общие стили для макета */
.navigate-layout {
  min-height: 97.5vh;
}

.navigate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97.5vh;
  padding: 8px;
  width: 100%;
}

.entry-flex {
  width: 100%;
  height: 100%;
  max-height: 97.5vh;
  border-radius: 12px;
  padding: 0 0 30px 0;
}

.action-button {
  width: 100% !important;
  height: 50px !important;
  font-size: 24px !important;
  font-weight: bold !important;
  background-color: var(--ant-green-6) !important;
  color: white !important;
  border-radius: 8px !important;
}

.action-button:hover,
.action-button:focus {
  background: var(--ant-green-7) !important;
}

.list-card .ant-card-body{
  padding: 8px;
  min-height: 74.7vh;
}

.list-item {
  background-color: var(--ant-blue-6) !important;
  border-radius: 4px !important;
  height: 60px !important;
  margin-bottom: 10px;
  display: flex;
  padding: 0 16px !important;
  align-items: center;
  justify-content: center;
  font-weight: bold !important;
  cursor: pointer;;
  transition: background-color 0.3s ease !important;
}

.list-item span{
  font-size: 24px !important;
}

.list-item:hover {
  background-color: var(--ant-blue-7) !important;
}

.list-item #event{
  font-size: 18px !important;
}