.event-item {
    background-color: var(--ant-blue-6) !important;
    border-radius: 4px !important;
    height: 60px !important;
    margin-bottom: 10px;
    display: flex;
    padding: 0 16px !important;
    align-items: center;
    font-weight: bold !important;
    cursor: pointer;;
    transition: background-color 0.3s ease !important;
}
.event-item span{
    font-size: 15.9px !important;
}